{{ partial "header.html" . }}

<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">
        <div class="sectionTitle">Recent Articles</div>

        <div>{{ range .Data.Pages }}
          <div class="listItem">
            <a class="itemImage project" href="{{ .RelPermalink }}" style="background-image: url(/articles/{{ .Param "slug"}}-sq.jpg);"></a>
            <div class="itemDetails">
              <div class="itemHeader">
                <div class="itemTitle"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
                <div class="itemTag">
                  {{- range .Params.categories -}}
                  <a href="{{ relURL (print "/categories/" . | urlize) }}">{{ . }}</a>
                  {{ end -}}
                </div>
              </div>
              <div class="itemMeta">
                <div class="author">{{ .Params.author }}</div>
                <div class="itemDescription">{{ default .Description | markdownify }}
                  <a class="readMore" href="{{ .RelPermalink }}">Read more ...</a>
                </div>
                <div class="itemDate">
                  <div class="created">{{ .Date.Format "2006/01/02" }}</div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}</div>
      </div>

      <div class="column25">
        <div class="section">
          <div class="sectionTitle">Categories</div>
          {{ range $key, $value := .Site.Taxonomies.categories }}
          <div class="articleCategory {{ replace (lower $key) " " "" }}">
            <a href="{{ (print "/categories/" $key | urlize) | relURL }}">{{ $key }}</a>
          </div>
          {{ end }}
        </div>

        <div class="section">
          <div class="sectionTitle">Upcoming events</div>
          {{ partial "events" . }}
        </div>
      </div>
    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ partial "footer.html" . }}
