{{ partial "header.html" . }}

<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">

      <h1 class="article-title">{{ .Title }}</h1>

      {{ if eq .Section "post" }}
      <span class="article-date">{{ .Date.Format "2006/01/02" }}</span>
      {{ end }}

      <div class="article-content">
      {{ .Content }}
      </div>

      {{ partial "disqus.html" .}}

      </div>

      <div class="column25">
      {{ .TableOfContents }}
      </div>

    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ partial "footer.html" . }}
