{{ partial "header.html" . }}

<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">

      <h1 class="article-title">{{ .Title }}</h1>

      {{ $slug := .Param "slug" }}
      {{ with $.Params.photo }}
      <div class="article-header">
        <div class="photo" style="background-image: url('../../../{{ $slug }}/{{ $slug }}-wd.jpg');"></div>
        <div class="photoCredit">Photo by <a href="{{ .url }}">{{ .author }}</a></div>
      </div>
      {{ end }}

      {{ if eq .Section "post" }}
      <span class="article-date">{{ .Date.Format "2006/01/02" }}</span>
      {{ end }}

      <div class="article-content">
      {{ .Content }}
      </div>

      {{ partial "disqus.html" .}}

      </div>

      <div class="column25">
        <div class="section hideOnMobile">
          <div class="sectionTitle">Contents</div>
          {{ .TableOfContents }}
        </div>
        <div class="section">
          <div class="sectionTitle">Upcoming events</div>
          {{ partial "events" . }}
        </div>
      </div>

    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ partial "footer.html" . }}
