
<!DOCTYPE html>
<html>
  <head>
    <title>Tidyverse</title>
    <link rel='stylesheet' href='../../build/tidyverse-site/tidyverse-site.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" href="../../images/favicon.ico" />

    <script type="text/javascript" src="js-libraries/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="site.js"></script>

  </head>
  <body>
    <div id="appTidyverseSite" class="shrinkHeader alwaysShrinkHeader">
      <div id="main">
        <!-- rstudio header -->
        <div id="rStudioHeader">
          <div class="band">
            <div class="innards bandContent">
              <div>
                <a class="productName" href="index.html">Tidyverse</a>
              </div>
              <div id="menu">
                <div id="menuToggler"></div>
                <div id="menuItems" class="">
                  <a class="menuItem" href="packages.html">Packages</a>
                  <a class="menuItem" href="learn.html">Learn</a>
                  <a class="menuItem current" href="articles.html">Articles</a>
                  <a class="menuItem" href="help.html">Help</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- page -->
        <div class="band padForHeader pushFooter">
          <div class="bandContent">
            <div class="full splitColumns withMobileMargins">
              <div class="column75">
                <div class="sectionTitle">Recent Articles</div>
                <div class="">
                  <div class="listItem">
                    <a class="itemImage project" href="#" style="background-image: url(images/article1.jpg);"></a>
                    <div class="itemDetails">
                      <div class="itemHeader">
                        <div class="itemTitle"><a href="#">The Tidyverse is Tidy</a></div>
                        <div class="itemTag"><a href="#">Programming</a></div>
                      </div>
                      <div class="itemMeta">
                        <div class="author">Hadley Wickham</div>
                        <div class="itemDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed semper odio, sed fringilla enim. Nulla facilisi. Cras non nisi accumsan, efficitur elit in, vestibulum velit. Donec ac purus porta, aliquam augue non, posuere sapien. Aenean nec quam urna. Donec ac tristique nisl, sed luctus purus. Phasellus ut facilisis ex. Nunc in condimentum quam. <a class="readMore" href="#">Read more ...</a></div>
                        <div class="itemDate">
                          <div class="created">Jul 22, 2017</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="listItem">
                    <a class="itemImage project" href="#" style="background-image: url(images/article2.jpg);"></a>
                    <div class="itemDetails">
                      <div class="itemHeader">
                        <div class="itemTitle"><a href="#">Black Hole Found at the Center of the Tidyverse</a></div>
                        <div class="itemTag"><a href="#">Package</a></div>
                      </div>
                      <div class="itemMeta">
                        <div class="author">Jennifer Bryan</div>
                        <div class="itemDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed semper odio, sed fringilla enim. Nulla facilisi. Cras non nisi accumsan, efficitur elit in, vestibulum velit. Donec ac purus porta, aliquam augue non, posuere sapien. Aenean nec quam urna. Donec ac tristique nisl, sed luctus purus. Phasellus ut facilisis ex. Nunc in condimentum quam. <a class="readMore" href="#">Read more ...</a></div>
                        <div class="itemDate">
                          <div class="created">Jul 21, 2017</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="listItem">
                    <a class="itemImage project" href="#" style="background-image: url(images/article3.jpg);"></a>
                    <div class="itemDetails">
                      <div class="itemHeader">
                        <div class="itemTitle"><a href="#">Journalist Uncovers Plot Using stringr</a></div>
                        <div class="itemTag"><a href="#">Case Study</a></div>
                      </div>
                      <div class="itemMeta">
                        <div class="author">Wanda About</div>
                        <div class="itemDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed semper odio, sed fringilla enim. Nulla facilisi. Cras non nisi accumsan, efficitur elit in, vestibulum velit. Donec ac purus porta, aliquam augue non, posuere sapien. Aenean nec quam urna. Donec ac tristique nisl, sed luctus purus. Phasellus ut facilisis ex. Nunc in condimentum quam. <a class="readMore" href="#">Read more ...</a></div>
                        <div class="itemDate">
                          <div class="created">Jul 14, 2017</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="listItem">
                    <a class="itemImage project" href="#" style="background-image: url(images/article4.jpg);"></a>
                    <div class="itemDetails">
                      <div class="itemHeader">
                        <div class="itemTitle"><a href="#">Sick Cat Cured with Three Doses of purrr</a></div>
                        <div class="itemTag"><a href="#">Case Study</a></div>
                      </div>
                      <div class="itemMeta">
                        <div class="author">Mane G. Critr</div>
                        <div class="itemDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed semper odio, sed fringilla enim. Nulla facilisi. Cras non nisi accumsan, efficitur elit in, vestibulum velit. Donec ac purus porta, aliquam augue non, posuere sapien. Aenean nec quam urna. Donec ac tristique nisl, sed luctus purus. Phasellus ut facilisis ex. Nunc in condimentum quam. <a class="readMore" href="#">Read more ...</a></div>
                        <div class="itemDate">
                          <div class="created">Jul 7, 2017</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="listItem">
                    <a class="itemImage project" href="#" style="background-image: url(images/article5.jpg);"></a>
                    <div class="itemDetails">
                      <div class="itemHeader">
                        <div class="itemTitle"><a href="#">No Cure Discovered for Dangling Participles</a></div>
                        <div class="itemTag"><a href="#">Programming</a></div>
                      </div>
                      <div class="itemMeta">
                        <div class="author">Nuntoo Kute</div>
                        <div class="itemDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed semper odio, sed fringilla enim. Nulla facilisi. Cras non nisi accumsan, efficitur elit in, vestibulum velit. Donec ac purus porta, aliquam augue non, posuere sapien. Aenean nec quam urna. Donec ac tristique nisl, sed luctus purus. Phasellus ut facilisis ex. Nunc in condimentum quam. <a class="readMore" href="#">Read more ...</a></div>
                        <div class="itemDate">
                          <div class="created">Jun 30, 2017</div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="column25">
                <div class="section">
                  <div class="sectionTitle">Categories</div>
                  <div class="articleCategory package"><a href="#">Package</a></div>
                  <div class="articleCategory programming"><a href="#">Programming</a></div>
                  <div class="articleCategory caseStudy"><a href="#">Case Study</a></div>
                </div>
                <div class="section">
                  <div class="sectionTitle">Upcoming Events</div>

                  <div class="event rotateCounterClockwise meetup">
                    <div class="eventTitle">Tidyverse Meetup</div>
                    <div class="eventLocation">Dallas, TX</div>
                    <div class="eventDate">Monday, September 3, 2017 6:30 PM </div>
                    <div class="eventDetails">Join Hadley Wickham for an in-depth tidyverse discussion at the Cotton Bowl Stadium, 3750 The Midway.</div>
                  </div>
                  <div class="event rotateClockwise conf">
                    <div class="eventTitle"><a href="https://www.rstudio.com/conference/">rstudio::conf 2018</a></div>
                    <div class="eventLocation">San Diego, CA</div>
                    <div class="eventDate">Training days: January 31, February 1<br>Conference days: February 2 & 3</div>
                    <div class="eventDetails"><a href="https://www.rstudio.com/conference/">rstudio::conf 2018</a> will cover all things RStudio, but will also include several great workshops dedicated to the tidyverse.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>  <!-- bandContent -->
        </div> <!-- band -->

        <!-- rstudio footer -->
        <div id="rStudioFooter" class="band">
          <div class="bandContent">
            <div id="copyright">Tidyverse is supported by <a href="https://www.rstudio.com/">RStudio</a>, but would not be possible without many contributions from the R community.</div>
            <div id="logos">
              <a href="https://github.com/tidyverse" class="footerLogo gitHub"></a>
              <a href="https://twitter.com/search?q=%23tidyverse" class="footerLogo twitter"></a>
            </div>
          </div>
        </div>

      </div>  <!-- main -->
    </div>  <!-- app -->
  </body>
</html>
