<div class="event rotateCounterClockwise meetup">
  <div class="eventTitle">Tidyverse Meetup</div>
  <div class="eventLocation">Dallas, TX</div>
  <div class="eventDate">Monday, September 3, 2017 6:30 PM </div>
  <div class="eventDetails">Join Hadley Wickham for an in-depth tidyverse discussion at the Cotton Bowl Stadium, 3750 The Midway.</div>
</div>
<div class="event rotateClockwise conf">
  <div class="eventTitle"><a href="https://www.rstudio.com/conference/">rstudio::conf 2018</a></div>
  <div class="eventLocation">San Diego, CA</div>
  <div class="eventDate">Training days: January 31, February 1<br>Conference days: February 2 & 3</div>
  <div class="eventDetails"><a href="https://www.rstudio.com/conference/">rstudio::conf 2018</a> will cover all things RStudio, but will also include several great workshops dedicated to the tidyverse.</div>
</div>
