        <div id="rStudioFooter" class="band">
          <div class="bandContent">
            <div id="copyright">Tidyverse is supported by <a class="rstudioLogo" href="https://www.rstudio.com/"></a> but would not be possible without many contributions from the R community.</div>
            <div id="logos">
              <a href="https://github.com/tidyverse" class="footerLogo gitHub"></a>
              <a href="https://twitter.com/search?q=%23tidyverse" class="footerLogo twitter"></a>
            </div>
          </div>
        </div>

      </div>  <!-- main -->
    </div>  <!-- app -->

    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}

  </body>
</html>
