<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div id="appTidyverseSite" {{ if ne .URL "/" }}class="shrinkHeader alwaysShrinkHeader"{{ end }}>
      <div id="main">
        <!-- rstudio header -->
        <div id="rStudioHeader">
          <div class="band">
            <div class="innards bandContent">
              <div>
                <a class="productName" href="/">Tidyverse</a>
              </div>
              {{ partial "nav.html" . }}
            </div>
          </div>
        </div>
