      <div class="column25">

        <div class="section">
          <div class="sectionTitle">Categories</div>
          {{ range $key, $value := $.Site.Taxonomies.categories }}
          <div class="articleCategory {{ replace (lower $key) " " "" }}">
            <a href="{{ (print "/categories/" $key | urlize) | relURL }}">{{ $key }}</a>
          </div>
          {{ end }}
        </div>

        <div class="section">
          {{ partial "events_sticky" . }}
        </div>
        <!--begin marketo subscription section-->
        <div class="section">
          <div class="sectionTitle">Subscribe</div>
        <script src="//pages.rstudio.net/js/forms2/js/forms2.min.js"></script>
<form id="mktoForm_2460"></form>
<script>MktoForms2.loadForm("//pages.rstudio.net", "709-NXN-706", 2460);</script>
        </div>
    </div>
