{{ partial "header.html" . }}

<!-- page -->
<div id="homeContent" class="pushFooter">
  <div class="band first">
    <div class="bandContent">
      <div class="hexBadges">
        <a href="http://purrr.tidyverse.org/"><img src="images/hex-purrr.png" class="r4 c2" /></a>
        <a href="http://ggplot2.tidyverse.org/"><img src="images/hex-ggplot2.png" class="r2 c0"></a>
        <a href="http://dplyr.tidyverse.org/"><img src="images/hex-dplyr.png" class="r1 c0"></a>
        <a href="http://tidyr.tidyverse.org/"><img src="images/hex-tidyr.png" class="r3 c2"></a>
        <a href="http://readr.tidyverse.org/"><img src="images/hex-readr.png" class="r3 c0"></a>
        <a href="http://tibble.tidyverse.org/"><img src="images/hex-tibble.png" class="r2 c2"></a>
      </div>
      <div class="blurb">
        <div class="tagline">R packages for data science</div>
        <div>
          The tidyverse is an opinionated <a href="/packages">collection of R packages</a> designed for data science. All packages share an underlying design philosophy, grammar, and data structures. <br><br>
          Install the complete tidyverse with:
          <pre><code>install.packages("tidyverse")</code></pre>
        </div>
      </div>
    </div> <!-- bandContent -->
  </div>  <!-- band -->

  <div class="band second">
    <div class="bandContent">
      <div class="blurb">
        <div class="tagline">Learn the tidyverse</div>
        <div>
          See how the tidyverse makes data science faster, easier and more fun with "R for Data Science".
          Read it <a href="http://r4ds.had.co.nz/">online</a>, buy <a href="http://amzn.to/2aHLAQ1">the book</a> or try another <a href="/learn/">resource from the community</a>.
        </div>
        <a href="http://amzn.to/2aHLAQ1"><img class="bookCover" src="images/cover.png"></a>
      </div>
      <div class="blurb">
        <div class="tagline small"></div>
        {{ partial "events" . }}
      </div>
    </div> <!-- bandContent -->
  </div> <!-- band -->

  <div class="band third">
    <div class="bandContent">
      <div class="hideOnMobile"><img class="bee1" src="images/bee1.jpg"></div>
      <div class="blurb">
        <div class="tagline">Need help?</div>
        <div>
          First learn how to make a <a href="/help/#reprex">reprex</a> then <a href="/help/#where-to-ask">share it</a> with others.
        </div>
      </div>
    </div> <!-- bandContent -->
  </div> <!-- band -->
</div> <!-- homeContent -->

{{ partial "footer.html" . }}
