{{ $pkgs := index .Site.Data.packages }}

<div class="package-section">
  <div class="packages">
  {{ range sort $pkgs "weight" }}
  <div class="package">
    <a href="{{ .url_docs }}" target="_blank">
    <img class="package-image" src="{{ printf ("/css/images/hex/%s.%s") .name "png" }}" alt="" aria-hidden="true"></img>
    </a>
    <div class="package-info">
      <h3><a href="{{ .url_docs }}" target="_blank">{{ .name }}</a></h3>
      <p>{{ .desc }}&nbsp;<a href="{{ .url_docs }}" aria-hidden="true"  target="_blank">Go to docs...</a></p>
    </div> <!--package-info-->
  </div> <!--package-->
  {{ end }}
  
  </div> <!--packages-->
</div> <!--package-section-->