        <div id="rStudioFooter" class="band">
          <div class="bandContent">
            <div id="copyright">
              {{ if .Param "footer.copyright" }}
              {{ with .Param "footer.copyright" }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}<br>
              {{ end }}
              {{ if .Param "footer.support" }}
              {{ with .Param "footer.support" }}{{ replace . "{year}" now.Year | markdownify}}{{ end }} <a class="rstudioLogo" href="https://www.rstudio.com/"></a>
              {{ end }}
            </div>
            <div id="logos">
              <a href="{{ .Param "footer.github_url" }}" class="footerLogo gitHub"></a>
              <a href="{{ .Param "footer.twitter_url" }}" class="footerLogo twitter"></a>
            </div>
          </div>
        </div>

      </div>  <!-- main -->
    </div>  <!-- app -->

    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}

  </body>
</html>
