<button class="btn btn-default btn-webr" disabled type="button"  id="webr-run-button-{{ .Ordinal }}">Loading webR...</button>
<div id="webr-editor-{{ .Ordinal }}"></div>
<div id="webr-code-output-{{ .Ordinal }}"><pre style="visibility: hidden"></pre></div>
<script type="module">
  const runButton = document.getElementById('webr-run-button-{{ .Ordinal }}');
  const outputDiv = document.getElementById('webr-code-output-{{ .Ordinal }}');
  const editorDiv = document.getElementById('webr-editor-{{ .Ordinal }}');

  const editor = CodeMirror((elt) => {
    elt.style.border = '1px solid #eee';
    elt.style.height = 'auto';
    editorDiv.append(elt);
  },{
    value: `{{ .Get "code" | safeJS }}`,
    lineNumbers: true,
    mode: 'r',
    theme: 'light default',
    viewportMargin: Infinity,
  });

  runButton.onclick = async () => {
    runButton.disabled = true;
    let canvas = undefined;
    await webR.init();
    await webR.evalRVoid('webr::canvas(width={{ .Get "width" | safeJS }}, height={{ .Get "height" | safeJS }})');
    await webR.FS.syncfs(false);
    const result = await webRCodeShelter.captureR(editor.getValue(), {
      withAutoprint: true,
      captureStreams: true,
      captureConditions: false,
      captureGraphics: false,
      env: {},
    });
    try {
      await webR.evalRVoid("dev.off()");
      const out = result.output.filter(
        evt => evt.type == 'stdout' || evt.type == 'stderr'
      ).map((evt) => evt.data).join('\n');

      outputDiv.innerHTML = '';
      const pre = document.createElement("pre");
      if (/\S/.test(out)) {
        const code = document.createElement("code");
        code.innerText = out;
        pre.appendChild(code);
      } else {
        pre.style.visibility = 'hidden';
      }
      outputDiv.appendChild(pre);

      const msgs = await webR.flush();
      msgs.forEach(msg => {
        if (msg.type === 'canvas'){
          if (msg.data.event === 'canvasImage') {
            // Add plot image data to the current canvas element
            canvas.getContext('2d').drawImage(msg.data.image, 0, 0);
          } else if (msg.data.event === 'canvasNewPage') {
            // Create a new canvas element
            canvas = document.createElement('canvas');
            canvas.setAttribute('width', 2 * {{ .Get "width" | safeJS }});
            canvas.setAttribute('height', 2 * {{ .Get "height" | safeJS }});
            canvas.style.width="700px";
            canvas.style.display="block";
            canvas.style.margin="auto";
            // Add it to the output block
            const p = document.createElement("p");
            p.appendChild(canvas);
            outputDiv.appendChild(p);
          }
        }
      });
    } finally {
      webRCodeShelter.purge();
      runButton.disabled = false;
    }
  }
</script>
